server:
  port: 8080

spring:
  application:
    name: gateway-service
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:8181/realms/ecommerce
            authorization-uri: http://localhost:8181/realms/ecommerce/protocol/openid-connect/auth
            token-uri: http://localhost:8181/realms/ecommerce/protocol/openid-connect/token
            jwk-set-uri: http://localhost:8181/realms/ecommerce/protocol/openid-connect/certs
            user-info-uri: http://localhost:8181/realms/ecommerce/protocol/openid-connect/userinfo
            user-name-attribute: preferred_username
        registration:
          keycloak:
            client-id: gateway-client
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            scope: openid,profile,email
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8181/realms/ecommerce
  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/orders/**
          filters:
            - TokenRelay=
          
        - id: inventory-items
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/inventory/**
          filters:
            - TokenRelay=
            
        - id: reservations
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/reservations/**
          filters:
            - TokenRelay=

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

info:
  app:
    name: Gateway Service
    description: API Gateway for E-Commerce Microservices
    version: 1.0.0
  java:
    version: ${java.version}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    com.ecommerce.gateway: DEBUG
